- @title = t('title.impressum')
- @bodyclass = "imprint"
- @impressum = true
- @plainLayout = true
- @file = File.basename(__FILE__, ".haml")

#imprint
  :markdown
    ####Zuständig für den Inhalt und die Gestaltung der Seiten

    >Ralph Möcklinghoff  
    >Immenhof 35  
    >22087 Hamburg
    
    >Mobil:    +49 (151) 22630332    
    >mail@ralph-moecklinghoff.de  
    
    Umsatzsteuer-Identifikationsnummer gem. § 27a UStG:
    
    DE256709442
     
    Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:
    
    Ralph Möcklinghoff
    
    ####Bildnachweis
    
    Startseite:
    
    ©iStockphoto.com/photovibes  
    ©iStockphoto.com/-oxford-  
    ©iStockphoto.com/Talaj  
    
    Blog:
    
    ©iStockphoto.com/-oxford-  
    
    ####Haftungshinweis

    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen ich keine Haftung für die Inhalte externer Links.
    Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    